mixin postedOn(item)
    tim
      != full_date(item.date, config.date_format)

mixin postTitle(title)
    if title
        != title
    else
        != __('untitled')

mixin postComingSoon()
  li.post
    article.post-block
      h2.post-title Coming Soon
      section.posted-on
      p.post-excerpt
        != __('empty_post_lipsum')

//- Index Page 3 Latest posts (even if not enough)
mixin posts-latest()
  ul.home.post-list
    - let posts = []
    - page.posts.each(post => posts.push(post))
    - if(posts.length < 3) posts = posts.concat(new Array(3-posts.length).fill('empty'))
    - posts.forEach(post => {
      - if(typeof post != 'object') {
        +postComingSoon()
      - } else {
        li.post
          article.post-block
            h2.post-title
              a.post-title-link(href=url_for(post.path))
                +postTitle(post.title)
            section.posted-on
              +postedOn(post)
                        
            p.post-excerpt
              != post.excerpt
            a.read-more(href=url_for(post.path))
              != __('read_more')
      - }
    - })

//- Posts: TODO
mixin posts()
    ul.home.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href=url_for(item.path) class="no-barba")
                            +postTitle(item.title)
                    +postInfo(item)
                    .post-content
                        != item.excerpt
                    a.read-more(href=url_for(item.path))
                        != __('read_more')
        - })

//- Archive Page: TODO
mixin postList()
    .archive
        - var year = 0;
        - var change = false;
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change
                h2.archive-year
                    != year
            .post-item
                +postInfo(item)
                a.post-title-link(href=url_for(item.path))
                    +postTitle(item.title)
        - })



//- Post Page: TODO
mixin post(item)
    .post
        article.post-block
            h1.post-title
                +postTitle(item.title)
            +postInfo(item)
            .post-content
                != item.content
