title
    block site_title
        = config.title

meta(charset='utf-8')
meta(
  content="width=device-width, initial-scale=1, shrink-to-fit=no" 
  name="viewport")
meta(name="robots", content="index, follow")
meta(name='X-UA-Compatible', content='IE=edge')

block description
  meta(
    name='description',
    content=config.description ? config.description : __('meta_description'))
block keywords
  meta(
    name='keywords',
    content=config.keywords ? config.keywords : __('meta_keywords'))
    

//- Android Chrome Icons
link(rel='icon', type='image/png', sizes='192x192', href=url_for('img/android-chrome-192x192.png'))
link(rel='icon', type='image/png', sizes='512x512', href=url_for('img/android-chrome-512x512.png'))

//- Apple Touch Icon
link(rel='apple-touch-icon', sizes='180x180', href=url_for('img/apple-touch-icon.png'))

//- Favicon for different sizes
link(rel='icon', type='image/x-icon', href=url_for('img/favicon.ico'))
link(rel='icon', type='image/png', sizes='16x16', href=url_for('img/favicon-16x16.ico'))
link(rel='icon', type='image/png', sizes='32x32', href=url_for('img/favicon-32x32.ico'))

// link(rel='search', type='application/opensearchdescription+xml', href=url_for('atom.xml'), title=config.title)

link(
  rel="stylesheet" 
  href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900")

link(
  rel='stylesheet',
  href=url_for('css/open-iconic-bootstrap.min.css'))
link(
  rel='stylesheet',
  href=url_for('css/animate.css'))
link(
  rel='stylesheet',
  href=url_for('css/owl.carousel.min.css'))
link(
  rel='stylesheet',
  href=url_for('css/owl.theme.default.min.css'))
link(
  rel='stylesheet',
  href=url_for('css/magnific-popup.css'))
link(
  rel='stylesheet',
  href=url_for('css/aos.css'))
link(
  rel='stylesheet',
  href=url_for('css/ionicons.min.css'))
link(
  rel='stylesheet',
  href=url_for('css/flaticon.css'))
link(
  rel='stylesheet',
  href=url_for('css/icomoon.css'))
link(
  rel='stylesheet',
  href=url_for('scss/style.css'))

block head_bottom
