doctype html
html(lang=config.language)
  head
    include head.pug
  body(
    data-spy='scroll',
    data-target='.site-navbar-target',
    data-offset='300'
  )
    nav#ftco-navbar(
      class='navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target'
    )
      include nav.pug
    block content
    footer.ftco-footer.ftco-section
      include footer.pug
    include scripts.pug
