doctype html
html(lang=config.language)
    head
        include head.pug
    body(data-spy='scroll', data-target='.site-navbar-target', data-offset='300')
        nav#ftco-navbar(class='navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target')
            include nav.pug
        block sections
        footer.ftco-footer.ftco-section
            include footer.pug
        include scripts.pugdoctype html

html(lang="en")
  head
    title Clark - Free Bootstrap 4 Template by Colorlib
    meta(charset="utf-8")
    meta(
      content="width=device-width, initial-scale=1, shrink-to-fit=no" 
      name="viewport"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"
      )
    link(
      href="css/open-iconic-bootstrap.min.css" 
      rel="stylesheet"
      )
    link(
      href="css/animate.css" 
      rel="stylesheet"
      )
    link(
      href="css/owl.carousel.min.css" 
      rel="stylesheet"
      )
    link(
      href="css/owl.theme.default.min.css" 
      rel="stylesheet"
      )
    link(
      href="css/magnific-popup.css" 
      rel="stylesheet"
      )
    link(
      href="css/aos.css" 
      rel="stylesheet"
      )
    link(
      href="css/ionicons.min.css" 
      rel="stylesheet"
      )
    link(
      href="css/flaticon.css" 
      rel="stylesheet"
      )
    link(
      href="css/icomoon.css" 
      rel="stylesheet"
      )
    link(
      href="css/style.css" 
      rel="stylesheet"
      )
  body(
    data-offset="300" 
    data-target=".site-navbar-target" 
    data-spy="scroll"
    )
    nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco-navbar-light.site-navbar-target(class="ftco_navbar")
      .container
        a.navbar-brand(href="index.html") Clark
        button.navbar-toggler.js-fh5co-nav-toggle.fh5co-nav-toggle(
          aria-label="Toggle navigation" 
          aria-expanded="false" 
          aria-controls="ftco-nav" 
          data-target="#ftco-nav" 
          data-toggle="collapse" 
          type="button"
          )
          span.oi.oi-menu
          | Menu
        #ftco-nav.collapse.navbar-collapse
          ul.navbar-nav.nav.ml-auto
            li.nav-item
              a.nav-link(href="#home-section")
                span Home
            li.nav-item
              a.nav-link(href="#about-section")
                span About
            li.nav-item
              a.nav-link(href="#resume-section")
                span Resume
            li.nav-item
              a.nav-link(href="#services-section")
                span Services
            li.nav-item
              a.nav-link(href="#skills-section")
                span Skills
            li.nav-item
              a.nav-link(href="#projects-section")
                span Projects
            li.nav-item
              a.nav-link(href="#blog-section")
                span My Blog
            li.nav-item
              a.nav-link(href="#contact-section")
                span Contact
    section#home-section.hero
      .home-slider.owl-carousel
        .slider-item
          .overlay
          .container
            .row.d-md-flex.no-gutters.slider-text.align-items-end.justify-content-end(data-scrollax-parent="true")
              .one-third.js-fullheight.order-md-last.img(style="background-image:url(images/bg_1.png);")
                .overlay
              .one-forth.d-flex.align-items-center.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
                .text
                  span.subheading Hello!
                  h1.mb-4.mt-3
                    | I'm
                    span Clark Thompson
                  h2.mb-4 A Freelance Web Designer
                  p
                    a.btn.btn-primary.py-3.px-4(href="#") Hire me
                    a.btn.btn-white.btn-outline-white.py-3.px-4(href="#") My works
        .slider-item
          .overlay
          .container
            .row.d-flex.no-gutters.slider-text.align-items-end.justify-content-end(data-scrollax-parent="true")
              .one-third.js-fullheight.order-md-last.img(style="background-image:url(images/bg_2.png);")
                .overlay
              .one-forth.d-flex.align-items-center.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
                .text
                  span.subheading Hello!
                  h1.mb-4.mt-3
                    | I'm a
                    span web designer
                    | based in London
                  p
                    a.btn.btn-primary.py-3.px-4(href="#") Hire me
                    a.btn.btn-white.btn-outline-white.py-3.px-4(href="#") My works
    section#about-section.ftco-about.img.ftco-section.ftco-no-pb
      .container
        .row.d-flex
          .col-md-6.col-lg-5.d-flex
            .img-about.img.d-flex.align-items-stretch
              .overlay
              .img.d-flex.align-self-stretch.align-items-center(style="background-image:url(images/bg_1.png);")
          .col-md-6.col-lg-7.pl-lg-5.pb-5
            .row.justify-content-start.pb-3
              .col-md-12.heading-section.ftco-animate
                h1.big About
                h2.mb-4 About Me
                p
                  | A small river named Duden flows by their place and supplies it with the necessary regelialia.
                ul.about-info.mt-4.px-md-0.px-2
                  li.d-flex
                    span Name:
                    span Clark Thompson
                  li.d-flex
                    span Date of birth:
                    span January 01, 1987
                  li.d-flex
                    span Address:
                    span San Francisco CA 97987 USA
                  li.d-flex
                    span Zip code:
                    span 1000
                  li.d-flex
                    span Email:
                    span clarkthomp@gmail.com
                  li.d-flex
                    span Phone:
                    span +1-2234-5678-9-0
            .counter-wrap.ftco-animate.d-flex.mt-md-3
              .text
                p.mb-4
                  span.number(data-number="120") 0
                  span Project complete
                p
                  a.btn.btn-primary.py-3.px-3(href="#") Download CV
    section#resume-section.ftco-section.ftco-no-pb
      .container
        .row.justify-content-center.pb-5
          .col-md-10.heading-section.text-center.ftco-animate
            h1.big.big-2 Resume
            h2.mb-4 Resume
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        .row
          .col-md-6
            .resume-wrap.ftco-animate
              span.date 2014-2015
              h2 Master Degree of Design
              span.position Cambridge University
              p.mt-4
                | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            .resume-wrap.ftco-animate
              span.date 2014-2015
              h2 Bachelor's Degree of C.A
              span.position Cambridge University
              p.mt-4
                | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            .resume-wrap.ftco-animate
              span.date 2014-2015
              h2 Diploma in Computer
              span.position Cambridge University
              p.mt-4
                | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
          .col-md-6
            .resume-wrap.ftco-animate
              span.date 2014-2015
              h2 Art & Creative Director
              span.position Cambridge University
              p.mt-4
                | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            .resume-wrap.ftco-animate
              span.date 2014-2015
              h2 Wordpress Developer
              span.position Cambridge University
              p.mt-4
                | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            .resume-wrap.ftco-animate
              span.date 2017-2018
              h2 UI/UX Designer
              span.position Cambridge University
              p.mt-4
                | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        .row.justify-content-center.mt-5
          .col-md-6.text-center.ftco-animate
            p
              a.btn.btn-primary.py-4.px-5(href="#") Download CV
    section#services-section.ftco-section
      .container
        .row.justify-content-center.py-5.mt-5
          .col-md-12.heading-section.text-center.ftco-animate
            h1.big.big-2 Services
            h2.mb-4 Services
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
        .row
          .col-md-4.text-center.d-flex.ftco-animate
            a.services-1(href="#")
              span.icon
                i.flaticon-analysis
              .desc
                h3.mb-5 Web Design
          .col-md-4.text-center.d-flex.ftco-animate
            a.services-1(href="#")
              span.icon
                i.flaticon-flasks
              .desc
                h3.mb-5 Phtography
          .col-md-4.text-center.d-flex.ftco-animate
            a.services-1(href="#")
              span.icon
                i.flaticon-ideas
              .desc
                h3.mb-5 Web Developer
          .col-md-4.text-center.d-flex.ftco-animate
            a.services-1(href="#")
              span.icon
                i.flaticon-analysis
              .desc
                h3.mb-5 App Developing
          .col-md-4.text-center.d-flex.ftco-animate
            a.services-1(href="#")
              span.icon
                i.flaticon-flasks
              .desc
                h3.mb-5 Branding
          .col-md-4.text-center.d-flex.ftco-animate
            a.services-1(href="#")
              span.icon
                i.flaticon-ideas
              .desc
                h3.mb-5 Product Strategy
    section#skills-section.ftco-section
      .container
        .row.justify-content-center.pb-5
          .col-md-12.heading-section.text-center.ftco-animate
            h1.big.big-2 Skills
            h2.mb-4 My Skills
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
        .row
          .col-md-6.animate-box
            .progress-wrap.ftco-animate
              h3 Photoshop
              .progress
                .progress-bar.color-1(
                  style="width:90%" 
                  aria-valuemax="100" 
                  aria-valuemin="0" 
                  aria-valuenow="90" 
                  role="progressbar"
                  )
                  span 90%
          .col-md-6.animate-box
            .progress-wrap.ftco-animate
              h3 jQuery
              .progress
                .progress-bar.color-2(
                  style="width:85%" 
                  aria-valuemax="100" 
                  aria-valuemin="0" 
                  aria-valuenow="85" 
                  role="progressbar"
                  )
                  span 85%
          .col-md-6.animate-box
            .progress-wrap.ftco-animate
              h3 HTML5
              .progress
                .progress-bar.color-3(
                  style="width:95%" 
                  aria-valuemax="100" 
                  aria-valuemin="0" 
                  aria-valuenow="95" 
                  role="progressbar"
                  )
                  span 95%
          .col-md-6.animate-box
            .progress-wrap.ftco-animate
              h3 CSS3
              .progress
                .progress-bar.color-4(
                  style="width:90%" 
                  aria-valuemax="100" 
                  aria-valuemin="0" 
                  aria-valuenow="90" 
                  role="progressbar"
                  )
                  span 90%
          .col-md-6.animate-box
            .progress-wrap.ftco-animate
              h3 WordPress
              .progress
                .progress-bar.color-5(
                  style="width:70%" 
                  aria-valuemax="100" 
                  aria-valuemin="0" 
                  aria-valuenow="70" 
                  role="progressbar"
                  )
                  span 70%
          .col-md-6.animate-box
            .progress-wrap.ftco-animate
              h3 SEO
              .progress
                .progress-bar.color-6(
                  style="width:80%" 
                  aria-valuemax="100" 
                  aria-valuemin="0" 
                  aria-valuenow="80" 
                  role="progressbar"
                  )
                  span 80%
    section#projects-section.ftco-section.ftco-project
      .container
        .row.justify-content-center.pb-5
          .col-md-12.heading-section.text-center.ftco-animate
            h1.big.big-2 Projects
            h2.mb-4 Our Projects
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
        .row
          .col-md-4
            .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style="background-image: url(images/project-4.jpg);")
              .overlay
              .text.text-center.p-4
                h3
                  a(href="#") Branding & Illustration Design
                span Web Design
          .col-md-8
            .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style="background-image: url(images/project-5.jpg);")
              .overlay
              .text.text-center.p-4
                h3
                  a(href="#") Branding & Illustration Design
                span Web Design
          .col-md-8
            .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style="background-image: url(images/project-1.jpg);")
              .overlay
              .text.text-center.p-4
                h3
                  a(href="#") Branding & Illustration Design
                span Web Design
            .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style="background-image: url(images/project-6.jpg);")
              .overlay
              .text.text-center.p-4
                h3
                  a(href="#") Branding & Illustration Design
                span Web Design
          .col-md-4
            .row
              .col-md-12
                .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style="background-image: url(images/project-2.jpg);")
                  .overlay
                  .text.text-center.p-4
                    h3
                      a(href="#") Branding & Illustration Design
                    span Web Design
              .col-md-12
                .project.img.ftco-animate.d-flex.justify-content-center.align-items-center(style="background-image: url(images/project-3.jpg);")
                  .overlay
                  .text.text-center.p-4
                    h3
                      a(href="#") Branding & Illustration Design
                    span Web Design
    section#blog-section.ftco-section
      .container
        .row.justify-content-center.mb-5.pb-5
          .col-md-7.heading-section.text-center.ftco-animate
            h1.big.big-2 Blog
            h2.mb-4 Our Blog
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
        .row.d-flex
          .col-md-4.d-flex.ftco-animate
            .blog-entry.justify-content-end
              a.block-20(
                style="background-image: url('images/image_1.jpg');" 
                href="single.html"
                )
              .text.mt-3.float-right.d-block
                .d-flex.align-items-center.mb-3.meta
                  p.mb-0
                    span.mr-2 June 21, 2019
                    a.mr-2(href="#") Admin
                    a.meta-chat(href="#")
                      span.icon-chat
                      | 3
                h3.heading
                  a(href="single.html") Why Lead Generation is Key for Business Growth
                p
                  | A small river named Duden flows by their place and supplies it with the necessary regelialia.
          .col-md-4.d-flex.ftco-animate
            .blog-entry.justify-content-end
              a.block-20(
                style="background-image: url('images/image_2.jpg');" 
                href="single.html"
                )
              .text.mt-3.float-right.d-block
                .d-flex.align-items-center.mb-3.meta
                  p.mb-0
                    span.mr-2 June 21, 2019
                    a.mr-2(href="#") Admin
                    a.meta-chat(href="#")
                      span.icon-chat
                      | 3
                h3.heading
                  a(href="single.html") Why Lead Generation is Key for Business Growth
                p
                  | A small river named Duden flows by their place and supplies it with the necessary regelialia.
          .col-md-4.d-flex.ftco-animate
            .blog-entry
              a.block-20(
                style="background-image: url('images/image_3.jpg');" 
                href="single.html"
                )
              .text.mt-3.float-right.d-block
                .d-flex.align-items-center.mb-3.meta
                  p.mb-0
                    span.mr-2 June 21, 2019
                    a.mr-2(href="#") Admin
                    a.meta-chat(href="#")
                      span.icon-chat
                      | 3
                h3.heading
                  a(href="single.html") Why Lead Generation is Key for Business Growth
                p
                  | A small river named Duden flows by their place and supplies it with the necessary regelialia.
    section#section-counter.ftco-section.ftco-no-pt.ftco-no-pb.ftco-counter.img
      .container
        .row.d-md-flex.align-items-center
          .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18
              .text
                strong.number(data-number="100") 0
                span Awards
          .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18
              .text
                strong.number(data-number="1200") 0
                span Complete Projects
          .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18
              .text
                strong.number(data-number="1200") 0
                span Happy Customers
          .col-md.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18
              .text
                strong.number(data-number="500") 0
                span Cups of coffee
    section.ftco-section.ftco-hireme.img.margin-top(style="background-image: url(images/bg_1.jpg)")
      .container
        .row.justify-content-center
          .col-md-7.ftco-animate.text-center
            h2
              | I'm
              span Available
              | for freelancing
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
            p.mb-0
              a.btn.btn-primary.py-3.px-5(href="#") Hire me
    section#contact-section.ftco-section.contact-section.ftco-no-pb
      .container
        .row.justify-content-center.mb-5.pb-3
          .col-md-7.heading-section.text-center.ftco-animate
            h1.big.big-2 Contact
            h2.mb-4 Contact Me
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
        .row.d-flex.contact-info.mb-5
          .col-md-6.col-lg-3.d-flex.ftco-animate
            .align-self-stretch.box.p-4.text-center
              .icon.d-flex.align-items-center.justify-content-center
                span.icon-map-signs
              h3.mb-4 Address
              p 198 West 21th Street, Suite 721 New York NY 10016
          .col-md-6.col-lg-3.d-flex.ftco-animate
            .align-self-stretch.box.p-4.text-center
              .icon.d-flex.align-items-center.justify-content-center
                span.icon-phone2
              h3.mb-4 Contact Number
              p
                a(href="tel://1234567920") + 1235 2355 98
          .col-md-6.col-lg-3.d-flex.ftco-animate
            .align-self-stretch.box.p-4.text-center
              .icon.d-flex.align-items-center.justify-content-center
                span.icon-paper-plane
              h3.mb-4 Email Address
              p
                a(href="mailto:info@yoursite.com") info@yoursite.com
          .col-md-6.col-lg-3.d-flex.ftco-animate
            .align-self-stretch.box.p-4.text-center
              .icon.d-flex.align-items-center.justify-content-center
                span.icon-globe
              h3.mb-4 Website
              p
                a(href="#") yoursite.com
        .row.no-gutters.block-9
          .col-md-6.order-md-last.d-flex
            form.bg-light.p-4.p-md-5.contact-form(action="#")
              .form-group
                input.form-control(
                  placeholder="Your Name" 
                  type="text"
                  )
              .form-group
                input.form-control(
                  placeholder="Your Email" 
                  type="text"
                  )
              .form-group
                input.form-control(
                  placeholder="Subject" 
                  type="text"
                  )
              .form-group
                textarea.form-control(
                  placeholder="Message" 
                  rows="7" 
                  cols="30" 
                  name=""
                  )
              .form-group
                input.btn.btn-primary.py-3.px-5(
                  value="Send Message" 
                  type="submit"
                  )
          .col-md-6.d-flex
            .img(style="background-image: url(images/about.jpg);")
    footer.ftco-footer.ftco-section
      .container
        .row.mb-5
          .col-md
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 About
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
              ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
                li.ftco-animate
                  a(href="#")
                    span.icon-twitter
                li.ftco-animate
                  a(href="#")
                    span.icon-facebook
                li.ftco-animate
                  a(href="#")
                    span.icon-instagram
          .col-md
            .ftco-footer-widget.mb-4.ml-md-4
              h2.ftco-heading-2 Links
              ul.list-unstyled
                li
                  a(href="#")
                    span.icon-long-arrow-right.mr-2
                    | Home
                li
                  a(href="#")
                    span.icon-long-arrow-right.mr-2
                    | About
                li
                  a(href="#")
                    span.icon-long-arrow-right.mr-2
                    | Services
                li
                  a(href="#")
                    span.icon-long-arrow-right.mr-2
                    | Projects
                li
                  a(href="#")
                    span.icon-long-arrow-right.mr-2
                    | Contact
          .col-md
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Services
              ul.list-unstyled
                li
                  a(href="#")
                    span.icon-long-arrow-right.mr-2
                    | Web Design
                li
                  a(href="#")
                    span.icon-long-arrow-right.mr-2
                    | Web Development
                li
                  a(href="#")
                    span.icon-long-arrow-right.mr-2
                    | Business Strategy
                li
                  a(href="#")
                    span.icon-long-arrow-right.mr-2
                    | Data Analysis
                li
                  a(href="#")
                    span.icon-long-arrow-right.mr-2
                    | Graphic Design
          .col-md
            .ftco-footer-widget.mb-4
              h2.ftco-heading-2 Have a Questions?
              .block-23.mb-3
                ul
                  li
                    span.icon.icon-map-marker
                    span.text 203 Fake St. Mountain View, San Francisco, California, USA
                  li
                    a(href="#")
                      span.icon.icon-phone
                      span.text +2 392 3929 210
                  li
                    a(href="#")
                      span.icon.icon-envelope
                      span.text info@yourdomain.com
        .row
          .col-md-12.text-center
            p
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright ©
              script.
                document.write(new Date().getFullYear());
              | All rights reserved | This template is made with
              i.icon-heart.color-danger(aria-hidden="true")
              | by
              a(
                target="_blank" 
                href="https://colorlib.com"
                ) Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    // loader
    #ftco-loader.show.fullscreen
      svg.circular(
        height="48px" 
        width="48px"
        )
        circle.path-bg(
          stroke="#eeeeee" 
          stroke-width="4" 
          fill="none" 
          r="22" 
          cy="24" 
          cx="24"
          )
        circle.path(
          stroke="#F96D00" 
          stroke-miterlimit="10" 
          stroke-width="4" 
          fill="none" 
          r="22" 
          cy="24" 
          cx="24"
          )
    script(src="js/jquery.min.js")
    script(src="js/jquery-migrate-3.0.1.min.js")
    script(src="js/popper.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/jquery.easing.1.3.js")
    script(src="js/jquery.waypoints.min.js")
    script(src="js/jquery.stellar.min.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/aos.js")
    script(src="js/jquery.animateNumber.min.js")
    script(src="js/scrollax.min.js")
    script(src="js/main.js")
