.container
  a.navbar-brand(href='index.html')= config.brand
  button.navbar-toggler.js-fh5co-nav-toggle.fh5co-nav-toggle(
    type='button',
    data-toggle='collapse',
    data-target='#ftco-nav',
    aria-controls='ftco-nav',
    aria-expanded='false',
    aria-label=__('nav_toggle_navigation')
    )
    span.oi.oi-menu
      = ' '
      = __('nav_menu')
  #ftco-nav.collapse.navbar-collapse
    ul.navbar-nav.nav.ml-auto
      each link in config.nav_links
        li.nav-item
          - href = '#'+link
          a.nav-link(href=href)
            - title = __('nav_link_' + link)
            span= title
