// loader
#ftco-loader.show.fullscreen
  svg.circular(width='48px', height='48px')
    circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
      circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#F96D00')

script(src=url_for('js/jquery.min.js'))
script(src=url_for('js/jquery-migrate-3.0.1.min.js'))
script(src=url_for('js/popper.min.js'))
script(src=url_for('js/bootstrap.min.js'))
script(src=url_for('js/jquery.easing.1.3.js'))
script(src=url_for('js/jquery.waypoints.min.js'))
script(src=url_for('js/jquery.stellar.min.js'))
script(src=url_for('js/owl.carousel.min.js'))
script(src=url_for('js/jquery.magnific-popup.min.js'))
script(src=url_for('js/aos.js'))
script(src=url_for('js/jquery.animateNumber.min.js'))
script(src=url_for('js/scrollax.min.js'))
script(src=url_for('js/main.js'))


- Analytics tracking
  if theme.google_analytics
    script(async=true, src='https://www.googletagmanager.com/gtag/js?id=#{theme.google_analytics}'.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '#{theme.google_analytics}');


// script(src='https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js')
// script.
//     document.addEventListener('DOMContentLoaded', function() {
//         Barba.Pjax.start()
//     })
    
//- Browsersync
// script(id="__bs_script__").
//     //<![CDATA[
//     (function() {
//         try {
//         var script = document.createElement('script');
//         if ('async') {
//             script.async = true;
//         }
//         script.src = 'http://HOST:3001/browser-sync/browser-sync-client.js?v=2.29.3'.replace("HOST", location.hostname);
//         if (document.body) {
//             document.body.appendChild(script);
//         } else if (document.head) {
//             document.head.appendChild(script);
//         }
//         } catch (e) {
//         console.error("Browsersync: could not append script tag", e);
//         }
//     })()
//     //]]></script>
