section#contact.ftco-section.contact-section.ftco-no-pb
  .container
    .row.justify-content-center.mb-5.pb-3
      .col-md-7.heading-section.text-center.ftco-animate
        h1.big.big-2= __('contact_title_big')
        h2.mb-4= __('contact_title')
        p= __('contact_text')
    .row.d-flex.contact-info.mb-5
      .col-md-6.col-lg-3.d-flex.ftco-animate
        .align-self-stretch.box.p-4.text-center
          .icon.d-flex.align-items-center.justify-content-center
            span.icon-linkedin-square
          h3.mb-4= __('contact_linkedin')
          p
            - linkedinLink = config.linkedin_url
            - linkedinText = config.linkedin_url.replace(/^https?:\/\//, '')
            a(href=linkedinLink target='_blank')= linkedinText
      .col-md-6.col-lg-3.d-flex.ftco-animate
        .align-self-stretch.box.p-4.text-center
          .icon.d-flex.align-items-center.justify-content-center
            span.icon-phone2
          h3.mb-4= __('contact_phone')
          p
            - phoneLink = 'tel://' + config.phone_int
            a(href=phoneLink)= config.phone
      .col-md-6.col-lg-3.d-flex.ftco-animate
        .align-self-stretch.box.p-4.text-center
          .icon.d-flex.align-items-center.justify-content-center
            span.icon-contact_mail
          h3.mb-4= __('contact_email')
          p
            - emailLink = 'mailto:' + config.email
            a(href=emailLink target="_blank")= config.email
      .col-md-6.col-lg-3.d-flex.ftco-animate
        .align-self-stretch.box.p-4.text-center
          .icon.d-flex.align-items-center.justify-content-center
            span.icon-telegram
          h3.mb-4= __('contact_telegram')
          p
            - telegramLink = config.telegram_url
            a(href=telegramLink)= config.telegram_handle
    // Temporarily hidden
    .row.no-gutters.block-9
      .col-md-6.order-md-last.d-flex
        form.bg-light.p-4.p-md-5.contact-form(action='#')
          .form-group
            input.form-control(type='text', placeholder='Your Name')
          .form-group
            input.form-control(type='text', placeholder='Your Email')
          .form-group
            input.form-control(type='text', placeholder='Subject')
          .form-group
            textarea.form-control(name='', id='', cols='30', rows='7', placeholder='Message')
          .form-group
            input.btn.btn-primary.py-3.px-5(type='submit', value='Send Message')
      .col-md-6.d-flex
        .img(style='background-image: url(img/about.jpg);')
