section#resume.ftco-section.ftco-no-pb
  .container
    .row.justify-content-center.pb-5
      .col-md-10.heading-section.text-center.ftco-animate
        h1.big.big-2= __('resume.title_big')
        h2.mb-4= __('resume.title')
        p= __('resume.text')
    .row
      // Workaround to list resume entries left-to-right
      each resumeNums in [[1, 3, 5, 7], [2, 4, 6, 8]]
        .col-md-6
          each resumeNum in resumeNums
            - const resumeDate = __('resume.' + resumeNum + '_years')
            - const resumeSubtitle = __('resume.' + resumeNum + '_subtitle')
            - const resumePosition = __('resume.' + resumeNum + '_position')
            - const resumeDescription = __('resume.' + resumeNum + '_description')
            .resume-wrap.ftco-animate
              span.date= resumeDate
              h2= resumeSubtitle
              span.position= resumePosition
              p.mt-4= resumeDescription
    .row.justify-content-center.mt-5
      .col-md-6.text-center.ftco-animate
        p
          a.btn.btn-primary.py-3.px-3(href=url_for(config.cv_file_path))
            = __('resume.download_cv')
