section#skills.ftco-section
  .container
    .row.justify-content-center.pb-5
      .col-md-12.heading-section.text-center.ftco-animate
        h1.big.big-2= __('skills_title_big')
        h2.mb-4= __('skills_title')
        p= __('skills_text')
    .row
      - var skillsNum = [1, 2, 3, 4, 5, 6, 7, 8]
      each skillNum in skillsNum
        .col-md-6.animate-box
          .progress-wrap.ftco-animate
            - skill = __('skills_' + skillNum)
            h3= skill
            .progress
              - const percentVal = __('skills_' + skillNum + '_percent')
              - const percent = percentVal+'%'
              - const style = 'width:' + percent
              - const klass = 'progress-bar color-'+skillNum
              div(class=klass,
                role='progressbar',
                aria-valuenow=percentVal,
                aria-valuemin='0',
                aria-valuemax='100',
                style=style
                )
                span=percent
