section#home.hero
  .home-slider.owl-carousel
    .slider-item
      .overlay
      .container
        .row.d-md-flex.no-gutters.slider-text.align-items-end.justify-content-end(data-scrollax-parent='true')
          .one-third.js-fullheight.order-md-last.img(style='background-image:url(img/home-me-collage.png);')
            .overlay
          .one-forth.d-flex.align-items-center.ftco-animate(data-scrollax='properties: { translateY: "70%" }')
            .text
              span.subheading= __('home_hello')
              = ' '
              h1.mb-4.mt-3
                != __('home_im')
                = ' '
                span= config.author
                = ' '
              h2.mb-4= __('home_job_title')
              p
                a.btn.btn-primary.py-3.px-4(href=config.linkedin_url)= __('home_hire_me')
                = ' '
                a.btn.btn-white.btn-outline-white.py-3.px-4(href='#projects')= __('home_my_works')
    .slider-item
      .overlay
      .container
        .row.d-flex.no-gutters.slider-text.align-items-end.justify-content-end(data-scrollax-parent='true')
          .one-third.js-fullheight.order-md-last.img(style='background-image:url(img/home-skills-pile.png);')
            .overlay
          .one-forth.d-flex.align-items-center.ftco-animate(data-scrollax='properties: { translateY: "70%" }')
            .text
              span.subheading= __('home_hello')
              = ' '
              h1.mb-4.mt-3
                != __('home_im')
                = ' '
                span= __('home_job_title_short')
                = ' '
                = __('home_location')
              p
                a.btn.btn-primary.py-3.px-4(href=config.linkedin_url)= __('home_hire_me')
                = ' '
                a.btn.btn-white.btn-outline-white.py-3.px-4(href='#projects')= __('home_my_works')
